:root{
    --background: whitesmoke;
    --header: #003FB3;
    --apresentacao--back: #577086;
    --border: gray;
    --titulo--destaque: #F0BE54;
    --apresent--about: #25b1d3;
    --hover: #333333;
    --footer: whitesmoke;

    --header--font: 'Raleway', sans-serif;
    --txt:  'Montserrat', sans-serif;
    --buttons--subtitulo: 'Krona One', sans-serif;
    --footer--font: 'Ubuntu', sans-serif;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--background);
} 

.header__main{
    padding: 2% 0% 0% 8%;
}

.header__menu{
    display: flex;
    gap: 80px;
}

.container1 img{
    max-width: 3.5rem;
}

.header__menu__link {
    font-size: 1.5rem;
    font-weight: 900;
    font-family: var(--header--font);
    text-decoration: none;
    color: var(--header)
}

.apresentacao {
    padding: 5% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 55%;
    background-color: var(--apresentacao--back);
    border: 8px solid var(--border);
    padding: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.apresentacao__conteudo1 {
    border-left: 8px solid var(--apresent--about);
    padding: 10px;
    border-style: double;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--header--font);
    font-weight: 400;
}

.titulo-destaque {
    color: var(--titulo--destaque);
}

.apresentacao__conteudo__txt {
    font-family: var(--txt);
    font-size: 1.5rem;
    font-weight: 300;
}

.apresentacao__buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__buttons__links__subtitulo {
    font-family: var(--buttons--subtitulo);
    font-size: 1.5rem;
    font-weight: 400;
}

.apresentacao__buttons__links {
    display: flex;
    justify-content: center;
    gap: 16px;
    font-size: 1.5rem;
    font-weight: 600;
    color: black;
    width: 50%;
    text-align: center;
    border: 4px solid var(--titulo--destaque);
    border-radius: 10px;
    padding: 21.5px 0;
    text-decoration: none;
    font-family: var(--txt);
}

.apresentacao__buttons__links:hover{
    color: var(--titulo--destaque);
    background-color: var(--hover);
    border:4px solid var(--header);
    border-radius: 10px;
}

.apresentacao__imagem{
    width: 45%;
}

.footer__main{
    background-color: var(--footer);
    color: var(--apresent--about);
    border-top: 3px solid var(--header);
    font-size: 1.5rem;
    font-family: var(--footer--font);
    text-align: center;
    padding: 10px;
}

@media (max-width: 1200px){
    .apresentacao{
        flex-direction: column-reverse;
    }
}

