header {
    background-color: #003FB3;
    border-radius: 4px;
    color: aliceblue;
    max-width: 450px;
    text-align-last: center;
    margin-left: 10%;
}


body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #F0BE54;
    
}
 
.header__main {
    font-size: 50px;
    font-family:'Raleway', sans-serif;
    
}

.apresentacao {
    font-family: 'Montserrat', sans-serif;
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.apresentacao__conteudo {
    background-color: #7a5400;
    border-radius: 15px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
}

.titulo-destaque {
    color: aliceblue;
}

.apresentacao__conteudo__txt {
    font-size: 28px;
}

.container img {
    max-width: 400px;
}

.apresentacao__buttons {
    display: flex;
    justify-content: space-between;
}

.apresentacao__buttons__links {
    font-size: 30px;
    font-weight: 600;
    color: aliceblue;
    background-color: #003FB3;
    width: 280px;
    text-align: center;
    border-radius: 15px;
    padding: 21.5px 0;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
