body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: black;
} 

.header__main{
    padding: 2% 0% 0% 8%;
}

.header__menu{
    display: flex;
    gap: 80px;
}

.container1 img{
    max-width: 55px;
    max-height: 61px;
}

.header__menu__link {
    font-size: 24px;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: aliceblue;
    -webkit-text-stroke: 1.5px black;
    
}

.apresentacao {
    padding: 4% 6.4%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.apresentacao__conteudo {
    background-color: #201b2d;
    border: 8px solid gray;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: aliceblue;
}

.titulo-destaque {
    color: #25b1d3;
}

.apresentacao__conteudo__txt {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    color: aliceblue;
}

.container img {
    max-width: 400px;
}

.apresentacao__buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__buttons__links__subtitulo {
    font-family: 'Krona One', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: aliceblue;
}

.apresentacao__buttons__links {
    display: flex;
    justify-content: center;
    gap: 16px;
    font-size: 24px;
    font-weight: 600;
    color: aliceblue;
    width: 378px;
    text-align: center;
    border: 4px solid #25b1d3;
    border-radius: 10px;
    padding: 21.5px 0;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__buttons__links:hover{
    color: #25b1d3;
    background-color: #1c2227;
    border:4px solid aliceblue;
    border-radius: 10px;
}

.footer__main{
    background-color: black;
    color: #F0BE54;
    border-top: 3px solid #003FB3;
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    padding: 10px;
}

