header {
    background-color: #37140e;
    border-radius: 4px;
    color: aliceblue;
}


body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #F0BE54;
    
}

.titulo-destaque {
    color: #003FB3;
}

.apresentacao {
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.apresentacao__conteudo {
    width: 615px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
}

.apresentacao__conteudo__txt {
    font-size: 28px;
}